db/led_test.quiproj.34560.rdr.flock
db/led_test.quiproj.3420.rdr.flock
simulation/modelsim/modelsim.ini
simulation/modelsim/rtl_work/_info
simulation/modelsim/rtl_work/_info
simulation/modelsim/rtl_work/_info
db/
db
db/*